@page "/bookmark/bulkupload"
@using Blazored.FluentValidation
@using GWTAI.Blazor.Client.Models.Bookmarks
@using GWTAI.Blazor.Client.Models.Bookmarks.Dtos
@using GWTAI.Blazor.Client.Services.Contracts
@* @attribute [Authorize] *@
@inject IAlertService AlertService
@inject IBookmarkService BookmarkService
@inject NavigationManager navManager
@inject PageHistoryState PageHistoryState


<h1>Upload</h1>
<br/>

<EditForm Model="@upload" OnValidSubmit="@CreateUpload">

	<FluentValidationValidator />
	<ValidationSummary />

	<div class="form-group">
		<label>File Name :</label>
		<div>
			<InputText @bind-Value="@upload.FileName" class="form-control col-sm-3" />
			<ValidationMessage For="@(() => upload.FileName)" />
		</div>
	</div>

	<div class="form-group">
		<div>
			<label>File:</label>
			<div>
				<InputFile accept=".html" class="form-control-file" type="file" OnChange="HandleSelection" />
				<ValidationMessage For="@(() => upload.FileContent)" />
			</div>
		</div>
	</div>

	<div class="form-group">
		<button disabled="@loading" class="btn btn-primary">
			@if (loading) 
			{
				<span class="spinner-border spinner-border-sm mr-1"></span>
			}
			Save File
		</button>
		@if (PageHistoryState.CanGoBack()){
			<NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Back</NavLink>
		}
		else{
			<NavLink href="/upload/1" class="btn btn-link">Back</NavLink>
		}
	</div>

</EditForm>

@code {
	[Parameter]
	public EventCallback OnValidSubmit { get; set; }
	bool loading = false;
	string status = "File pending upload...";
	// Initialize the upload property to avoid null reference issues
	BulkUploadDto upload = new BulkUploadDto
		{
			FileName = string.Empty, 
			FileContent = Array.Empty<byte>() 
		};

	async Task HandleSelection(InputFileChangeEventArgs e)
	{
		var file = e.File;
		if (file != null)
		{
			// Load into memory
			var buffer = new byte[file.Size];
			await file.OpenReadStream().ReadAsync(buffer);
			status = $"Finished loading {file.Size} bytes from {file.Name}";

			// Update the upload property with the file details
			upload.FileName = file.Name;
			upload.FileContent = buffer;

		}
	}

	async Task CreateUpload()
	{
		loading = true;
		try
		{
			await BookmarkService.UploadBookmarks(upload);
			AlertService.Success("Upload added successfully", keepAfterRouteChange: true);
			if (PageHistoryState.CanGoBack()){
				navManager.NavigateTo(PageHistoryState.GetGoBackPage());
			}
			else{
				navManager.NavigateTo("/upload/1");
			} 
		}
		catch (Exception ex)
		{
			AlertService.Error(ex.Message);
			loading = false;
			StateHasChanged();
		}

    }


}
